@import 'bourbon';


// *
// * Responsable Grid System
// *
// * Setting up a responsive grid based on Semantic GS
// *
// * @author Abban Dunne http://abandon.ie
// * @author James Wilson http://jimmynotjim.com
// * @version 1.0
// */


// ==========================================================
// = Site Variables                                         =
// ==========================================================

// Grid options =
$gutter_width: 40px; // Your gutter width
$columns: 12; // The amount of columns you want
$max_width: 1008px; // Set a maximum width of the site

// *
// * Baseline
// *
// * Common settings for this:
// *
// * 100% for 16px font and 24px baseline.
// *
// * 75% for 12px font and 18px baseline.
// *
// *
$baseline: 100%;

// Font variables
$body_color: #444;
$body_bg: #f8f7f3;
$header_bg: rgb(19, 130, 173);
$heading_color: #111;

$body_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
$heading_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;

// Link colors
$link: #7EBCD4;
$link-hover: #1996c7;

// Select colors
$select: #71b4ce;
$select_color: #fff;

// Default Colors
$grey_light: #ddd;
$grey_regular: #ccc;
$grey_dark: #666;

$green: #6bac60;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack
.clearfix {
	*zoom:1;

	&:before,
	&:after{
	    content:"";
	    display:table;
	}
	&:after{
	    clear:both;
	}
}

@mixin hiddenText {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.unstyled-list {
	padding-left: 0;
	list-style: none;
}

// ==========================================================
// = Import normalize baseline and grid                     =
// ==========================================================

@import "normalize.scss";
@import "baseline.scss";
@import "grid.scss";

// ==========================================================
// = Your custom styles go here                             =
// ==========================================================


@font-face {
	font-family: 'scroll-nav-icons';
	src: url("../fonts/scroll-nav-icons.eot");
	src: url("../fonts/scroll-nav-icons.eot?#iefix") format('embedded-opentype'),
	url('../fonts/scroll-nav-icons.woff') format('woff'),
	url('../fonts/scroll-nav-icons.ttf') format('truetype'),
	url("../fonts/scroll-nav-icons.svg#scroll-nav-icons") format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-info:before,
.icon-home:before,
.icon-cog:before,
.icon-attention:before,
.icon-eye:before,
.icon-code:before,
.icon-address:before,
.icon-publish:before,
.icon-flow-branch:before,
.icon-gauge:before,
.icon-traffic-cone:before,
.icon-cc:before,
.icon-github:before,
.icon-twitter:before,
.icon-dribbble:before,
.icon-users:before,
.icon-doc-text:before,
.icon-download:before,
.icon-clock:before {
	font-family: 'scroll-nav-icons';
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-gauge:before { content: '\e7a2'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-users:before { content: '\a965'; } /* 'ꥥ' */
.icon-doc-text:before { content: '\a902'; } /* '꤂' */
.icon-download:before { content: '\a941'; } /* 'ꥁ' */
.icon-clock:before { content: '\a914'; } /* '\a914' */

body {
	background: $body_bg;
}

.page__header {
	@include box-shadow(0 2px 10px 0px #777, 0 -1px 0 rgba(255,255,255,0.16) inset);

	background-color: $header_bg;
	border-bottom: 1px solid saturate(shade($header_bg, 30%), 45%);
	margin-bottom: 50px;
	padding: 1.15em 10%;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}

.page__title {
	color: #fff;
}

.page__title {
	@extend .icon-address;

	font-family: "Alfa Slab One", Georgia, serif;
	font-size: 2.25em;
	font-weight: normal;
	left: -28px;
	line-height: 1em;
	margin-bottom: .25em;
	position: relative;
	text-shadow: 0 -1px 0 saturate(shade($header_bg, 30%), 35%);

	&:before {
		font-size: 60px;
		position: relative;
		right: -22px;
		top: -5px;
	}
}

.overview {
	font-size: 1.3em;
	margin: 0 auto 40px;
	max-width: 580px;
	text-align: center;
}

.main {
	@extend .clearfix;

	margin: 0 auto 50px;
	max-width: 1200px;
	padding: 0 4.6875%;
	position: relative;
}

.scroll-nav {
	position: absolute;

	&.fixed .scroll-nav__wrapper {
		position: fixed;
		top: 60px;
	}
}

.scroll-nav__wrapper {
	border: 1px solid saturate(shade($header_bg, 20%), 35%);
	background-color: saturate(tint($header_bg, 7%), 5%);
	border-radius: 6px;
	padding: 10px 5px;
}

.scroll-nav__heading {
	@extend .icon-address;

	border-bottom: 2px solid #fff;
	color: #fff;
	display: block;
	font-family: "Alfa Slab One", Georgia, serif;
	font-size: 1.2em;
	margin-bottom: 15px;
	overflow: hidden;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	text-shadow: 0 -1px 0 saturate(shade($header_bg, 30%), 35%);
	width: 40px;

	&:before {
		font-size: 40px;
	}
}

.scroll-nav__list {
	@extend .unstyled-list;

	margin-bottom: 0;
}

.scroll-nav__item {
	font-weight: 600;
	font-size: 30px;
	line-height: 1.2em;
	margin: 0 auto;
	overflow: hidden;
	width: 40px;

	&:before {
		color: #fff;
		display: block;
		position: absolute;
		pointer-events: none;
		text-align: center;
		width: 40px;
	}

	&.description {
		@extend .icon-publish;
	}

	&.features {
		@extend .icon-doc-text;
	}

	&.usage {
		@extend .icon-eye;
	}

	&.options {
		@extend .icon-cog;
	}

	&.errors {
		@extend .icon-attention;
	}

	&.issues {
		@extend .icon-traffic-cone;
	}

	&.license {
		@extend .icon-cc;
	}

	&.authors {
		@extend .icon-users;
	}

	&.colophon {
		@extend .icon-info;
	}

	&.active {
		@include transform( scale(1.3, 1.3) );

		font-weight: 800;

		a:hover {
			font-weight: 800;
		}
	}
}

.scroll-nav__link {
	color: #fff;
	display: block;
	margin: 0 auto;
	padding-left: 42px;

	&:hover {
		color: #fff;
	}
}

.post__article {
	background-color: #fff;
	border: 1px solid darken($body_bg, 10%);
	border-radius: 6px;
	margin-left: 65px;
	padding: 20px;
}

.all-yours {
	@extend .clearfix;
	@extend .unstyled-list;

	max-width: 580px;
	margin: 0 auto 20px;
}

.your-item {
	a {
		@extend .epsilon;

		@include background( linear-gradient( tint($link_hover, 15%), shade($link_hover, 15%) ) );
		@include box-shadow( 0 1px 1px tint($link_hover, 30%) inset, 0 -1px 1px shade($link_hover, 25%) inset );

		border: 1px solid shade($link_hover, 25%);
		border-bottom-color: shade($link_hover, 40%);
		border-radius: 6px;
		color: white;
		display: block;
		font-weight: 800;
		margin: 0 auto 20px;
		padding: .5em 0;
		text-align: center;
		width: 14em;

		&:before {
			padding-right: 0.45em;
		}

		&:hover {
			@include background( linear-gradient( tint($link_hover, 30%), $link_hover ) );
			@include box-shadow( 0 1px 1px tint($link_hover, 45%) inset, 0 -1px 1px shade($link_hover, 10%) inset );

			border-color: shade($link_hover, 10%);
			border-bottom-color: shade($link_hover, 25%);
			color: white;
		}
	}
}

.grab-it {
	@extend .icon-download;
}

.fork-it {
	@extend .icon-flow-branch;
}

.intro {
	@extend .gamma;
}

.features-list {
	@extend .clearfix;
	@extend .unstyled-list;

	margin-top: 60px;
}

.feature {
	text-align: center;

	&:before {
		color: desaturate(tint($link, 40%), 10%);
		font-size: 4em;
	}

	&.simple {
		@extend .icon-clock;
	}

	&.customize {
		@extend .icon-code;
	}

	&.size {
		@extend .icon-gauge;
	}
}

.author__link {
	display: inline-block;
	font-size: 1.2em;

	&:hover {
		@include transform(scale(1.4, 1.4));
	}

	&.home {
		@extend .icon-home;
	}

	&.github {
		@extend .icon-github;
	}

	&.twitter {
		@extend .icon-twitter;
	}

	&.dribbble {
		@extend .icon-dribbble;
	}
}

pre,
code {
	border-radius: 3px;
	background-color: darken(#fff, 3%);
	border: 1px solid darken(#fff, 8%);
	font-size: 75%;
	line-height: 18px;
}

pre {
	padding: 10px;
}

code {
	padding: 3px 6px;
}

@media screen and (min-width: 40.625em) { // 650px
	.your-item {
		@include column(2, 0, 4);
	}
}

@media screen and (min-width: 60em) { // 960px

	.page__title {
		font-size: 4.125em;
		left: -18px;
		text-shadow: 0 -2px 0 saturate(shade($header_bg, 30%), 35%);

		&:before {
			font-size: 100px;
			right: -34px;
			top: -9px
		}
	}

	.overview {
		font-size: 2em;
		max-width: 700px;
	}

	.all-yours {
		margin-bottom: 40px;
	}

	.main {
		padding: 0 7%;
	}

	.post__article {
		margin-left: 210px;
		padding: 30px;
	}

	.scroll-nav__wrapper {
		padding: 15px 10px;
	}

	.scroll-nav__heading {
		font-size: 1.7em;
		text-indent: -16px;
		width: 170px;

		&:before {
			font-size: 1.654411765em;
			position: relative;
			right: -0.30em;
			top: -0.07em;
		}
	}

	.scroll-nav__item {
		font-size: 19px;
		line-height: 1.4em;
		overflow: visible;
		width: 170px;

		&.active {
			@include transform( scale(1.2, 1.2) );

			padding-left: 0.5em;
		}

		&:before {
			width: 30px;
		}
	}

	.scroll-nav__link {
		padding-left: 30px;
	}

	.feature {
		@include column(3, 10px, 9);
	}
}

