// *
// * Responsable Grid System
// *
// * Setting up a responsive grid based on Semantic GS
// *
// * @author Abban Dunne http://abandon.ie
// * @author James Wilson http://jimmynotjim.com
// * @version 1.0
// */

// ==========================================================
// = Site Variables                                         =
// ==========================================================

// Grid options =
$gutter_width: 40px; // Your gutter width
$columns: 12; // The amount of columns you want
$max_width: 1008px; // Set a maximum width of the site

// *
// * Baseline
// *
// * Common settings for this:
// *
// * 100% for 16px font and 24px baseline.
// *
// * 75% for 12px font and 18px baseline.
// *
// *
$baseline: 100%;

// Font variables
$body_color: #444;
$heading_color: #111;

$body_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
$heading_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;

// Link colors
$link: #1996c7;
$link_hover: #fff;

// Select colors
$select: #71b4ce;
$select_color: #fff;

// Default Colors
$grey_light: #ddd;
$grey_regular: #ccc;
$grey_dark: #666;

$green: #6bac60;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack
@mixin clearfix(){
	*zoom:1;

	&:before,
	&:after{
	    content:"";
	    display:table;
	}
	&:after{
	    clear:both;
	}
}

@mixin linebehind($top: 1.1em, $thickness:2px, $color: #333) {
	position: relative;
	text-align: center;

	&::before {
		border-top: $thickness solid $color;
		content: '';
		margin: 0 auto;
		position: absolute;
		top: $top;
		right: 0;
		left: 0;
		width: 75%;
		z-index: -1;
	}

	span {
		background: #fff;
		padding: 0 .5em;
	}
}

@mixin hiddenText {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.unstyled-list {
	padding-left: 0;
	list-style: none;
}

// ==========================================================
// = Import normalize baseline and grid                     =
// ==========================================================

@import "normalize.scss";
@import "baseline.scss";
@import "grid.scss";

// ==========================================================
// = Your custom styles go here                             =
// ==========================================================


@font-face {
	font-family: 'scroll-nav-icons';
	src: url("../fonts/scroll-nav-icons.eot");
	src: url("../fonts/scroll-nav-icons.eot?#iefix") format('embedded-opentype'),
	url('../fonts/scroll-nav-icons.woff') format('woff'),
	url('../fonts/scroll-nav-icons.ttf') format('truetype'),
	url("../fonts/scroll-nav-icons.svg#scroll-nav-icons") format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-gauge:before { content: '\e7a2'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-users:before { content: '\1f465''; } /* '\1f465' */
.icon-doc-text:before { content: '\1f4c4'; } /* '\1f4c4' */
.icon-download:before { content: '\1f4e5'; } /* '\1f4e5' */
.icon-clock:before { content: '\1f554'; } /* '\1f554' */

body {
//	background: url('http://responsablecss.com/assets/images/baseline.png');
//	background: #E25A5A;
//	background: #EE6F3E;
	background: #fcfcfc;
}
.page-header {
	background-color: rgb(19, 130, 173);
	margin-bottom: 1em;
	padding: 1.15em 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}

.page-title,
.page-byline {
	color: #fff;
}

.page-title {
	@extend .dayumdayumdayum;
	font-family: "Alfa Slab One", Georgia, serif;
	margin-bottom: .25em;
}

.page-byline {
	@extend .gamma;

	margin-bottom: .1em;
	padding-top: .4em;
}

.main {
	margin: 0 auto;
	padding: 0 17.3913043%;
	position: relative;
}

.scroll-nav {
	margin-left: -15.2173913%;
	position: absolute;
	top: 100px;
	width: 11.9565217%;

	&.fixed {
		position: fixed;
		top: 60px;
	}
}

.scroll-nav-heading {
	font-weight: 700;
}

.scroll-nav-list {
	@extend .unstyled-list;
}

.scroll-nav-item.active {
	-webkit-transform: scale(1.25,1.25);
	font-weight: 700;
}

.scroll-nav-link {
	color: $link;
	padding-left: 25px;

	&:before {
		font-family: 'scroll-nav-icons';
		position: absolute;
		left: -2px;
		text-align: center;
		width: 20px;

	}

	&.top {
		@extend .icon-publish;
	}

	&.features {
		@extend .icon-doc-text;
	}

	&.usage {
		@extend .icon-code;
	}

	&.options {
		@extend .icon-cog;
	}

	&.errors {
		@extend .icon-attention;
	}

	&.issues {
		@extend .icon-traffic-cone;
	}

	&.license {
		@extend .icon-cc;
	}

	&.authors {
		@extend .icon-users;
	}

	&.colophon {
		@extend .icon-info;
	}
}

.post-article {
//	margin-left: 100px;
}

.intro {
	@extend .epsilon;
}

.all-yours a:before {
	font-family: scroll-nav-icons;
}

.grab-it {
	@extend .icon-download;
}

.fork-it {
	@extend .icon-flow-branch;
}

.author-name {
	display: inline-block;
}

.author-details {
	@extend .unstyled-list;

	display: inline-block;
	margin: 0;

	li {
		display: inline-block;
	}
}

.author-link {
	color: $select;
	display: block;
	font-size: 1.2em;

	&:hover {
		-webkit-transform: scale(1.4, 1.4);
		background: none;
		color: $link;
	}

	&:before {
		font-family: scroll-nav-icons;
	}

	&.home {
		@extend .icon-home;
	}

	&.github {
		@extend .icon-github;
	}

	&.twitter {
		@extend .icon-twitter;
	}

	&.dribbble {
		@extend .icon-dribbble;
	}
}

pre {
	background-color: darken(#fff, 3%);
	font-size: 75%;
	line-height: 18px;
	padding: 6px 10px;
}

@media screen and (max-width: 520px){

}


